body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    width: 80%;
    margin: 0 auto;
}

header {
    background-color: #17072b;
    color: #ffffff;
    padding: 20px 0;
    text-align: center;
}

header h1 {
    font-family: Tahoma, sans-serif;
    font-weight: 700;
    margin: 0;
}

header nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

header nav ul li {
    display: inline;
    margin-right: 20px;
}

header nav ul li a {
    color: #ffffff;
    text-decoration: none;
}

main {
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
}

main section,
main aside {
    width: 48%;
}

main section {
    background-color: #ffffff;
    color: #000000;
    padding: 20px;
}

main aside {
    background-color: #172d67;
    color: #ffffff;
    padding: 20px;
}

footer {
    background-color: #8c15e9;
    color: #ffffff;
    text-align: center;
    padding: 20px 0;
}
